.addnewpost{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid lightslategrey;
    
}
textarea{
    border: none;
    resize: none;
  
}
textarea:focus{
    outline: none;

}
.save{
    width: 100%;
    height:3rem;
    margin-bottom: 30px;
    margin: auto;
    background-color: #ADCBD7; 
    border-style: none;

}