.post{
    font-size: 20px;
    margin: 20px;
    padding: 1rem;
    background-color: whitesmoke;
    box-shadow:5px 10px rgb(216, 218, 219) ;
    height:100px;
    display:flex;
    flex-direction: column;
    justify-content: space-between; 
    white-space: pre-wrap;  /*keeps the white space*/
    
}
.post-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
      
}
.delete-icon{
    cursor: pointer;
}
.edit-icon{
    margin-right: 15px;
    cursor: pointer;
}